<div class="container">

  <div class="row my-3">
    <div class="col-3">
      <div class="w-100 bg-danger p-3 text-uppercase text-white h6 m-0">
        SHOP BY CATEGORIES
      </div>
      <div class="w-100 p-3 border">
        <ul class="d-flex list-unstyled flex-column m-0">
          <li class="p-2">
            <a href="">Item </a>
          </li>
          <li class="p-2">
            <a href="">Item </a>
          </li>
          <li class="p-2">
            <a href="">Item </a>
          </li>
          <li class="p-2">
            <a href="">Item </a>
          </li>
          <li class="p-2">
            <a href="">Item </a>
          </li>
          <li class="p-2">
            <a href="">Item </a>
          </li>
          <li class="p-2">
            <a href="">Item </a>
          </li>
          <li class="p-2">
            <a href="">Item </a>
          </li>
          <li class="p-2">
            <a href="">Item </a>
          </li>
          <li class="p-2">
            <a href="">Item </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      b
    </div>
  </div>

</div>
