/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/bootstrap.scss";




@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';



.cursor-pointer {
  cursor: pointer;
}

.h-screen-25 {
  height: 25vh;
}

.h-screen-50 {
  height: 50vh;
}

.h-screen-75 {
  height: 75vh;
}

.h-screen-full {
  height: 100vh;
}
